*
{
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS";
}
.alljobs{
    background-image: linear-gradient(0.25turn,#f69d3c , #ebf8e1, #3f87a6);
}
h1{
    font-size: 30px;
}
.jobsphoto{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://www.urank.ru/news/topicimage/n2/529078/");
    background-size: cover;
    background-position: center;
    color: #fff;
}
.level{
    color: darkred;
}
.btn-primary {
    display: inline;
    margin: 30px 50px 0px 100px;
    background-image: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
    padding: 7px 5px 7px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: darkred;
}
#jobs{
    background: #f8f8fa;
    padding: 70px 0;
}
/*.company-details{*/
/*    box-shadow: 0 2px 70px 0 rgba(110, 130, 208, .18);*/
/*    border-radius: 5px;*/
/*    margin-bottom: 20px;*/
/*}*/
.job-update{
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.job-update .fa{
    margin-top: 5px;
    margin-right: 10px;
}
.job-update small{
    background: #efefef;
    padding: 1px 5px;
    margin: 0 5px;
}
.job-update p{
    margin-top: 0;

}
.apply-btn{
    height: 40px;
    background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.apply-btn .btn-primary{
    padding: 0 30px;
    float: right;
    border-radius: 5px;
    box-shadow: none;
    background: transparent;
    border: 1px solid black;
}
.btn-primary{
    color: white;
    background-color: white;
}
.btn-primary:hover{
    color: white;
    background-color: darkblue;
}
h2{
    color: darkred;
}
